

<!-- Main Wrapper -->
<div class="main-wrapper authentication-wrapper">
  <div class="container-fluid">
    <div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
      <div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap ">
        <div class="col-xxl-4 col-lg-6 col-md-6 col-11 mx-auto">
          <div class="p-4 text-center">
            <!--<img src="assets/img/logo-dark.svg" alt="logo" class="img-fluid">-->
            <img alt="image" src="assets/image/svg/tripfy-logo.svg" class="img-fluid">
          </div>
          <div class="card authentication-card">
            <div class="card-header">
              <div class="text-center">
                <h5 class="mb-1">Sign In</h5>
                <p>Sign in to Start Manage your DreamsTour Account</p>
              </div>
            </div>
            <div class="card-body">
              <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <div class="input-icon">
                    <span class="input-icon-addon">
                      <i class="isax isax-message"></i>
                    </span>
                    <input type="email"
                           class="form-control form-control-lg"
                           placeholder="Enter Email"
                           name="Email"
                           ngModel
                           required />
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label">Password</label>
                  <div class="input-icon">
                    <span class="input-icon-addon">
                      <i class="isax isax-lock"></i>
                    </span>
                    <input type="password"
                           class="form-control form-control-lg pass-input"
                           placeholder="Enter Password"
                           name="Password"
                           ngModel
                           required />
                    <span class="input-icon-addon toggle-password">
                      <i class="isax isax-eye-slash"></i>
                    </span>
                  </div>
                </div>

                <div class="mb-3">
                  <button type="submit"
                          class="btn btn-xl btn-primary d-flex align-items-center justify-content-center w-100">
                    Login
                    <i class="isax isax-arrow-right-3 ms-2"></i>
                  </button>
                </div>
                <div class="d-flex justify-content-between align-items-center mb-3">

                  <div class="form-check">

                    <input class="form-check-input" type="checkbox" id="remember">
                    <label class="form-check-label" for="remember">
                      Remember me
                    </label>
                  </div>

                  <a routerLink="/forgetPass" class="text-decoration-none small">Forgot password?</a>
                </div>
                <div class="text-center">
                  <p class="mb-0">Don't have an account? <a  routerLink="/reg" class="text-primary" >Register</a></p>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Main Wrapper -->

