:root {
  --primary-color: #4e73df; /* اللون الأساسي للأزرار */
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 1rem;
}

.btn-primary, .btn-warning {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

  .btn-primary:hover, .btn-warning:hover {
    background-color: #3e5dcf;
    border-color: #3e5dcf;
  }

/* تصميم الجدول */
.table th, .table td {
  text-align: center;
}

.table th {
  background-color: #f8f9fa;
}
