<div  class="main-wrapper authentication-wrapper">
  <div class="card p-4 shadow" style="width: 22rem;">
    <form #registerForm="ngForm" (ngSubmit)="registerUser()" >
      <h2 class="text-center mb-4">Register</h2>

      <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" name="FullName" [(ngModel)]="registerData.FullName" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="Email" [(ngModel)]="registerData.Email" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="Password" [(ngModel)]="registerData.Password" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="text" class="form-control" name="Phone" [(ngModel)]="registerData.Phone" required>
      </div>

      <!--<div class="mb-3">
        <label class="form-label">Upload your profile picture</label>
        <input type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*" required>
      </div>-->

      <!--<div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="terms" required>
        <label class="form-check-label" for="terms">
          I agree to the terms and conditions
        </label>
      </div>-->

      <div class="d-grid mb-3">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>

      <div class="text-center">
        <p class="mb-0">Already have an account? <a  routerLink="/login" class="text-primary">Login</a></p>
      </div>
    </form>


  </div>
</div>
